
{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=My+Soul&family=Poppins:ital,wght@1,300&family=Work+Sans:wght@100;400;500;600&display=swap');
          </style>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>

<body>
    <header class="header">

        <a class="navbar-link" href="{% url 'home' %}"   ><p class="logo">HACKGEEK</p></a>
        <nav class="navbar">
          <ul class="navbar-list">
         
            <li>
              <a class="navbar-link" href={% url 'logout_form' %}> log out </a></button></li>
            </li>
        </ul>
            <div class="mobile-navbar-btn2" onclick="expand()">
                <ion-icon name="menu-outline" class="mobile-nav-icon"></ion-icon>
                <ion-icon name="close-outline" class="mobile-nav-icon"></ion-icon>
            </div>
        </nav>

        <div class="mobile-navbar-btn">
            <ion-icon name="menu-outline" class="mobile-nav-icon"></ion-icon>
            <ion-icon name="close-outline" class="mobile-nav-icon"></ion-icon>
        </div>
    </header>





{% comment %} {{data.email}} {% endcomment %}
{% comment %} {{data.first_name}}
{{data.last_name}}
{{topic.title}}
{{toptic.id}} {% endcomment %}

<div class="host-container" >
    <div class="part_details_card">


        {% comment %} <a href="{% url 'create_winner' hosts.id %}"> <button class="host_button">Give results</a></button> {% endcomment %}

{%for detail in details%}


Team Leader:- {{detail.team_leader}}<br>
Team member 2{{detail.team_m2}}<br>
Team member 3{{detail.team_m3}}<br>
Team Id {{detail.team_id}}<br>

 {%for data in data%}

{% if data.user == detail.team_leader%}
{% comment %} {% if data.project_id == host.id%} {% endcomment %}
<a href='{{data.files.url}}' download>File :- nnmbmnb</a>

{% comment %} {%endif%} {% endcomment %}
{%endif%}

{%endfor%}
<hr>

{%endfor%}  


